
$primary: #79DEC2;
$secondary: #003328;
$tertiary: #0A6641;
$black: #000000;
$white: #ffffff;
$light-gray: #f1f1f1;
$gray: #808080;
$orange: #D04100;

$size-xs: 15px;
$size-sm: 20px;
$size-md: 25px;
$size-lg: 35px;
$size-xl: 50px;
$size-xxl: 60px;

$mobile-sm: 320px;
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-lg: 1440px;
$widescreen: 1990px;
