@import '../../../styles/variables.scss';

.btn_style {
  width: fit-content;
  max-width: 400px;
  background-color: $secondary;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  font-weight: 700;
  font-size: $size-sm;
  padding: 10px 25px;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}