@import '../../../../styles/variables.scss';

.alert_overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
}

.container {
  background-color: $white;
  border-radius: 0;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 15vw;
  height: 100vh;
  overflow: auto;
  transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 30vw;
  padding: 25px;
  color: $size-sm;

  button {
    display: block;
    margin-left: auto;
    background-color: transparent;
    cursor: pointer;
    font-size: $size-md;
    color: $orange;
  }

  h3 {
    font-size: $size-sm;
  }

  ul {
    list-style: none;
    li {
      margin: 25px 0;
      font-size: $size-xs;
      svg {
        color: $orange;
        font-size: $size-md;
        margin: 0 5px -6px 0;
      }
    }
  }

  @media (max-width: $tablet) {
    max-width: 80vw;
    left: 40vw;
  }
}
