@import '../../../styles/variables.scss';

.section_style {
  height: 100vh;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;

  .paragraph_style {
    margin: 20px 0;
  }

  a {
    text-decoration: none;
    width: fit-content;
    margin: auto;
  }
}
