@import '../../../styles/variables.scss';

.nav_style {
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  max-width: 850px;
  margin: 0 auto;

  svg {
    font-size: $size-lg;
    color: $secondary;
  }
}
