@import '../../../styles/variables.scss';

.map_container {
  width: 100vw;
  height: calc(100vh - 90px);
}

.loading {
  width: 100vw;
  margin-top: 40vh;
  text-align: center;
  font-size: $size-md;
}

.combobox {
  background-color: $white;
  padding: 10px;
  display: flex;
  position: absolute;
  z-index: 9;
  top: 10vh;
  left: 5%;
  width: 90%;
  border: 2px solid $secondary;
  border-radius: 10px;

  > div {
     width: 100%;
    input {
      width: 95%;
      font-size: $size-sm;
    }
  }

  button {
    cursor: pointer;
    background-color: $white;
    font-size: 20px;
    color: $secondary;
  }
}